html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Evita que la página tenga scroll innecesario */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido es demasiado grande */
}
